<div class="row">
  <div class="col-md-12">
    <%= comment.user.first_name %>
    <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>

    <% if current_user && current_user.admin? %>
      <%= link_to ('<i class="fa fa-trash text-danger margin-left-20"></i>').html_safe,
                product_comment_path(comment.product, comment),
                method: :delete,
                data: {confirm: 'Are you sure?'}
      %>
    <% end %>
  </div>
  <div class="rated col-md-12" data-score="<%= comment.rating %>">

  </div>
  <div class="col-md-12 comment"><%= comment.body %></div>
</div>
<hr>
