<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @product.category.product_category %>
  </p>

  <div class="product-image">
    <%= image_tag(@product.image_url, class: "image-fluid img-thumbnail") %>
  </div>

  <div class="">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary"  %>
    <%= link_to 'Back', products_path, class: "btn btn-success"  %>
  </div>
</div>
